<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Create Employee</h2>
    <form th:action="@{/sotrudniki/create}" th:object="${employeeRequest}" method="post">
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Enter last name">
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger"></div>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="Enter first name">
            <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="alert alert-danger"></div>
        </div>
        <div class="form-group">
            <label for="patronymic">Patronymic</label>
            <input type="text" class="form-control" id="patronymic" th:field="*{patronymic}" placeholder="Enter patronymic (optional)">
            <div th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}" class="alert alert-danger"></div>

        </div>
        <div class="form-group">
            <label for="birthDate">Birth Date</label>
            <input type="date" class="form-control" id="birthDate" th:field="*{birthDate}">
            <div th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="alert alert-danger"></div>
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" th:field="*{gender}">
                <option value="true">Male</option>
                <option value="false">Female</option>
            </select>
            <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="alert alert-danger"></div>
        </div>
        <div class="form-group">
            <label for="shopId">Shop</label>
            <select class="form-control" id="shopId" th:field="*{shopId}">
                <option th:each="shop : ${shops}" th:value="${shop.id}" th:text="${shop.name}"></option>
            </select>
            <div th:if="${#fields.hasErrors('shopId')}" th:errors="*{shopId}" class="alert alert-danger"></div>
        </div>
        <div class="form-group">
            <label for="positionId">Position</label>
            <select class="form-control" id="positionId" th:field="*{positionId}">
                <option th:each="position : ${positionTypes}" th:value="${position.id}" th:text="${position.name}"></option>
            </select>
            <div th:if="${#fields.hasErrors('positionId')}" th:errors="*{positionId}" class="alert alert-danger"></div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
